#!/usr/bin/bash

__repo_root="$(dirname "$(realpath -- "${BASH_SOURCE[0]-$0}")")"

# all directories with perl modules
__lib_dirs=(
  $(find "$__repo_root" -maxdepth 3 -type d -name 'lib' -printf '%P\n')
)

# append directories to PERL5LIB if they don't already exist
__perl5lib_add() {
  for dir in "$@"; do
    if [ -d "$dir" ] && [[ ":$PERL5LIB:" != *":$dir:"* ]]; then
      PERL5LIB="${PERL5LIB:+"$PERL5LIB:"}$dir"
    fi  
  done
}

# add all libs to PERL5LIB
__install() {
    for dir in "${__lib_dirs[@]}"; do
      __perl5lib_add "$__repo_root/$dir"
    done
}

__install

export PERL5LIB

# tidy up
unset __repo_root
unset __lib_dirs
unset -f __perl5lib_add
unset -f __install
